.element {
          position: fixed;
          left: 0;
          top: 0;
          width: 30px;
          height: 30px;
          pointer-events: none;
          z-index: 10000;
}

.element-item {
          position: fixed;
          transform: translate(-50%, -50%);
          width: 30px;
          height: 30px;
          border: 2px solid;
          border-radius: 50%;
          pointer-events: none;
          opacity: 1;
          box-sizing: border-box;
}

.element-item:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          background: rgb(255, 0, 0);
          width: 6px;
          height: 6px;
          margin: -3px 0 0 -3px;
          border-radius: 100%;
}

.element-item.nocircle:after {
          display: none;
}

