.nav-text{
    font-size: 15px;
}
nav{
    border-bottom: 3px solid #069370;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    background-color: white;
}
.color{
    color: #069370;
    transition: all 0.1s;
}
.color:hover{
    color:black;
}
.black{
    color: black;
    transition: all 0.1s;
}
.black:hover{
    color: #069370;
}
.main-box{
   width: 70%;
   margin-top: 200px;
   margin-bottom: 100px;
   /* background-color: orange; */
}

.box{
    background-color: orange;
    width: auto;
    text-align: center;
}
.box img{
    width: 12rem;
    height: 12rem;
}
.bordera{
    width: 5rem;
   border: 2px solid #006600;
}
.text{
    letter-spacing: 5px;
}
.link{
    background-color: #fff;
}
.font_3 {
    font: normal normal bold 100px/1.4em poppins-semibold,poppins,sans-serif;
    color: #000000;
}
.font_5 {
    font: normal normal bold 25px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #000000;
}
.resume{
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border: 1px solid #069370;
    border-radius: 100px;
    background-color: #069370;
    color: white;
    font-size: 13px;
    font-weight: 20px;
    transition: 0.2s;
	font: bold normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif,bold;
}
.resume:hover{
    background-color: white;
    color: black;
}
.proj{
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border: 1px solid black;
    border-radius: 100px;
    font-size: 13px;
    margin-left: 20px;
    color: black;
    transition: 0.2s;
	font: bold normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif,bold;
    
}
.proj:hover{
    background-color: #069370;
    color: white;
    border:1px solid #069370;
}
.footer{
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
}


 /* resume css */
 .card-box{
    height: 20rem;
    background-color: white;
 }
 .card-boxa{
    height: 25rem;
    background-color: white;
 }
 .card-box h5{
     color: #069370;
 }
 .card-box p{
     margin-top: 3rem;
     padding: 4rem;
     text-align: justify;

 }
 .ex{
    font-size: 38px;
  font-weight: bold;
}
.card-text{
    margin-top:2rem ;
}

@media (min-width:436px){
    .display-none{
    display: none;
}
}
@media (max-width:436px){
   nav{
       width: auto;
   }
    .nav-text{
        display: none;
    }
    .box img{
        width: 12rem;
        height: 12rem;
    }
   
     .main-box{
        width: 98%;
        margin-top: 160px;
        /* background-color: #006600; */
     }
     body{
        background-image: linear-gradient(to bottom,#fff 20%,#7ac38f 80%);
    }
    .box{
        background-color: #b1e9a3;
    }
    .link{
        background-color: #b1e9a3;
    }
    .footer-copy{
        text-align: center;
        padding: 30px 0;
    }
    .display{
        display: none;
    }
   /* resume css */
   .card-box p{
    margin-top: 0rem;
    padding: 0rem;
    text-align: justify;

}
.ex{
    font-size: 38px;
    font-weight: 1000px;
}
.card-text{
    text-align: center;
}
.card-text{
    margin-top:0rem ;
}
}