.loader-wrap {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          bottom: 0;
          overflow: hidden;
          z-index: 100;
}

.loader-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          bottom: 0;
          z-index: 1;
          background: #292929;
}

.loader-inner {
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -25px 0 0 -25px;
          transform: translateY(0);
          width: 50px;
          height: 50px;
          z-index: 2;
}

.loader {
          float: left;
          width: 50px;
          height: 50px;
          border-left: 10px solid #404040;
          animation: load8 1.1s infinite linear;
}

.loader, .loader:after {
          border-radius: 50%;
          width: 40px;
          height: 40px;
}

#main {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          opacity: 1;
}

.main-header {
          position: fixed;
          top: 0;
          left: 0;
          width: 80px;
          bottom: 0;
          z-index: 20;
          background: #292929;
          -webkit-transform: translate3d(0, 0, 0);
}

.main-header:before {
          content: '';
          position: absolute;
          left: 10px;
          width: 60px;
          height: 1px;
          bottom: 180px;
          background: rgba(255, 255, 255, 0.1)
}

.nav-button {
          width: 28px;
          height: 50px;
          display: inline-block;
          cursor: pointer;
          position: relative;
          top: 200px;
}

.nav-button span {
          width: 100%;
          float: left;
          margin-bottom: 6px;
          height: 2px;
          background: #fff;
          position: relative;
          overflow: hidden;
          transition: all 0.2s ease-in-out;
}

.nav-button span:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 100%;
          background: #fff;
          transition: all 0.2s ease-in-out;
}

.nav-button:hover span:before {
          width: 100%;
}

.nav-button .ncs {
          width: 70%;
}

.nav-button .nbs, .nav-button.cmenu:hover .nbs {
          width: 100%;
}

.nav-button:hover .ncs, .nav-button:hover .nbs {
          width: 100%;
}

.nav-button.cmenu .nos {
          transform: rotate(-45deg);
          margin-bottom: 0;
          top: 8.5px;
}

.nav-button.cmenu .ncs {
          transform: rotate(45deg);
          margin-bottom: 0;
          top: 7px;
          width: 100%;
}

.nav-button.cmenu .nbs, .nav-button.cmenu:hover .nbs {
          width: 0;
}

.nav-button:hover .menu-button-text {
          color: #fff;
}

.nav-button.cmenu .nos {
          transform: rotate(-45deg);
          margin-bottom: 0;
          top: 8.5px;
}

#wrapper {
          position: absolute;
          top: 0;
          left: 80px;
          right: 0;
          bottom: 0;
          z-index: 3;
}

.nav-holder {
          position: fixed;
          left: -100%;
          width: 800px;
          bottom: 80px;
          top: 80px;
          background: #212121;
          overflow: hidden;
          z-index: 106;
}

.nav-container {
          background: #212121;
          z-index: 20;
          padding: 20px 0;
}

.fl-wrap {
          float: left;
          width: 100%;
          position: relative;
}

nav.nav-inner {
          float: left;
          overflow: hidden;
          width: 550px;
          position: relative;
}

.nav-holder-dec, .nav-holder, .nav-overlay {
          position: fixed;
          -webkit-transform: translate3d(0, 0, 0) !important;
}

.nav-holder-dec {
          left: -100%;
          width: 800px;
          bottom: 80px;
          top: 80px;
          z-index: 105;
}

@media only screen and (max-width: 1064px) {
          #wrapper {
                    top: 70px;
                    left: 0;
          }
          nav.nav-inner, .contacts-wrap li {
                    width: 100%;
          }
          .nav-holder, .nav-holder-dec {
                    bottom: 0;
                    top: 70px;
          }
}

.element {
          position: fixed;
          left: 0;
          top: 0;
          width: 30px;
          height: 30px;
          pointer-events: none;
          z-index: 10000;
}

.element-item {
          position: fixed;
          transform: translate(-50%, -50%);
          width: 30px;
          height: 30px;
          border: 2px solid;
          border-radius: 50%;
          pointer-events: none;
          opacity: 1;
          box-sizing: border-box;
}

.element-item:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          background: rgb(255, 0, 0);
          width: 6px;
          height: 6px;
          margin: -3px 0 0 -3px;
          border-radius: 100%;
}

.element-item.nocircle:after {
          display: none;
}





@media only screen and (max-width: 800px) {
          .nav-holder, .nav-holder-dec, .process-wrap li, .filter-panel .folio-counter, .inline-folio-filters .folio-counter, .content-nav li {
                    width: 100%;
          }
}         