* {
  padding: 0;
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
}

.toolbar {
  display: none;
}
/* barcode css */
.barcode_preview {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#barcode_preview {
  padding: 0;
  margin: 0;
  display: block;
}
.barcodeSvg {
  background-color: transparent;
}
.svgprintBTN {
  display: none;
}
.data_table {
  display: none;
}
.brand {
  display: none;
}
.notify-container {
  display: none;
}
footer {
  display: none;
  padding: 0;
}
.footer_banar {
  display: none;
}
@page {
  size: 40cm 28cm;
}

.advertisement,
.singbarcode-block,
.ads,
.adsbygoogle {
  display: none;
}

body {
  zoom: 100%;
  transform: scale(1);
}

svg {
  width: 100%;
  height: 80vmin;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
