:root {
  /* main colors */
  --main-color: #fff;
  --body-color: #d1dfef;

  /* theme colors */
  --theme-bg-color: #000000;
  --theme-tx-color: #ffffff;
  --text-color: #000;

  /* setting */
  --border-radius: 0.4rem;
  --gap: 0.4rem;
}

body,
html {
  width: 100%;
  height: 100vh;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  font-family: Sarabun, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  zoom: 100%;
}

body {
  background-color: var(--body-color);
}

.container {
  width: 100%;
}

.nav-bar {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
}

.nav-menu ul {
  display: flex;
  list-style: none;
}

.nav-menu ul a {
  text-decoration: none;
  margin-left: 1rem;
  color: var(--theme-bg-color);
}

/* toolbar */
.form_input-block {
  /* margin-top: var(--gap); */
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.form_input-block .input {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

.form_input-block .input input,
.form_input-block .input select,
.form_input-block .input button {
  display: block;
  height: 1.8rem;
  width: 12rem;
  padding: 0.2rem 0.4rem;
  border: none;
  border: 1px solid var(--body-color);
  outline: none;
  border-radius: var(--border-radius);
}
.form_input-block .action {
  display: flex;
  flex-direction: row;
}

.form_input-block .action button {
  width: 4rem;
  margin-right: 0.6rem;
  background-color: var(--theme-bg-color);
  color: var(--theme-tx-color);
}

.btn {
  background-position: center;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
}

.btn:hover {
  background: var(--main-color) radial-gradient(circle, transparent 1%, var(--main-color) 1%) center/15000%;
}

.btn:active {
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

/* barcode_block */
.barcode_block {
  width: 100%;
  height: auto;
  background-color: var(--main-color);
  padding: 0 1rem 1rem 1rem;
}

#barcode {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.barcode_display {
  position: relative;
}

.printBTN {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20rem;
  left: 0;
  background-color: #0000004f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.1s ease-in-out;
  border-radius: 0 0rem 1rem 1rem;
}

.barcode_display:hover > .printBTN {
  top: 0;
}
.printBTN button {
  text-transform: capitalize;
  border: 0;
  outline: 0;
  padding: 0.6rem 2rem;
  background-color: var(--theme-bg-color);
  color: var(--theme-tx-color);
  border-radius: 0.4rem;
}

.printBTN button:hover {
  background-color: var(--theme-tx-color);
  color: var(--theme-bg-color);
}
/* display-block */
.display-block {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 1rem;
  background-color: var(--main-color);
}

.single_barcode {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
}

.single_barcode-block {
  width: 60%;
  padding: 1rem;
}

.single_barcode-block svg {
  width: 100%;
}

.ads {
  width: 100%;
  height: 100%;
}
