@import "./root.css";

* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #fff;
  --body-color: rgb(238, 240, 242);
  --border-radius: 0.2rem;
  --text-dark: rgb(0 0 0/0.7);
  --text-color: #000;
  --theme-back: red;
  --theme-color: #fff;
}

body {
  /* font-family: Arial; */
  font-family: "Nunito", sans-serif;
  color: #211a1a;
  font-size: 0.9em;
  background-color: var(--body-color);
  padding: 1rem 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

/* ----root----- */
.heading {
  padding: 0.8rem 0.8rem;
}
.heading span:nth-child(1) {
  font-size: 1.4rem;
}

/* -------js-class---- */
#user_toggle {
  display: none;
}
#user_login_singup_toggle {
  display: flex;
}

#admin_btn {
  display: none;
}

.wapper {
  width: 90%;
  margin: 0 auto;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  background-color: var(--main-color);
  padding: 0 1rem;
  border-radius: var(--border-radius);
}

.nav_bar .logo {
  text-transform: uppercase;
  font-family: "Sarabun", sans-serif;
  display: flex;
  align-items: center;
  margin-top: -0.1rem;
}
.bav_menu ul {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.bav_menu ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.6rem;
  background-color: var(--main-color);
}
.bav_menu ul a i {
  font-size: 1.2rem;
  margin-right: 0.2rem;
}

.hero {
  width: 100%;
  height: 650px;
  transition: all 0.3s ease 0s;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: rgb(246, 249, 252);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  border-radius: var(--border-radius);
  background-image: url("https://bazar-furniture-shop.s3.ap-south-1.amazonaws.com/furniture-shop-header-1648992658016.jpg");
  overflow: hidden;
}

/* ----user info--------------- */
.user_info {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15rem auto;
}
.user_info ul {
  border-right: 1px solid var(--body-color);
}
.user_info ul,
.user_info section {
  background-color: var(--main-color);
  padding: 0.8rem;
}

.user_info ul a {
  display: block;
  padding: 0.4rem 0.6rem;
  margin: 0.2rem 0;
  text-transform: capitalize;
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
}
.user_info ul a:hover {
  background-color: var(--body-color);
}

.ui-state-active a {
  background-color: var(--theme-back);
  color: var(--theme-color);
  font-weight: 600;
}
.section_heading {
  width: 100%;
  height: 100%;
  padding: 0.4rem 1.4rem;
  color: var(--text-dark);
  overflow-y: auto;
}
.section_heading .heading {
  font-size: 0.8rem;
}

.user_avatar {
  width: 100%;
  margin-top: 1rem;
}

.user_avatar label {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 10rem;
  margin: 0.8rem 0;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--body-color);
}

.input_gorup {
  display: grid;
  grid-template-columns: 48% 48%;
  /* gap: 2rem; */
  align-items: center;
  justify-content: space-between;
  margin: 0.6rem 0;
}

.user_input {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
}

.user_input label {
  margin-bottom: 0.4rem;
}

.user_input input {
  border: none;
  border: 1px solid var(--body-color);
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
}

.user_input select {
  border: none;
  border: 1px solid var(--body-color);
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
}

.user_input textarea {
  border: none;
  border: 1px solid var(--body-color);
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
  width: 100%;
}

.uaer_btn {
  width: 100%;
  text-align: right;
  padding: 0.4rem 0;
}
.uaer_btn button {
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
}

/* ---------user_purchase_list----- */
.user_purchase_list {
  width: 100%;
  margin-top: 2rem;
}

.user_purchase_items {
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid var(--body-color);
  display: grid;
  grid-template-columns: 10rem 70% auto;
  padding: 1rem;
}

.user_purchase_items .img {
  width: 100%;
  height: 100%;
}

.user_purchase_items .desc {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.user_purchase_items .desc span {
  margin-bottom: 0.6rem;
}
.user_purchase_items .desc span:nth-child(1) {
  color: var(--text-dark);
  font-size: 0.8rem;
}

.user_purchase_items .desc span:nth-child(2) {
  font-size: 1rem;
  color: var(--text-color);
}
.user_purchase_items .desc span:nth-child(3) a {
  color: blue;
}

.user_purchase_items .btn {
  display: flex;
  justify-content: center;
}
.user_purchase_items .btn a {
  height: 2rem;
  padding: 0.4rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1px solid var(--text-color);
}

/* ------user_login_singup------ */
.user_login_singup {
  width: 100%;
  height: 100%;
  /* background: var(--main-color) / 1; */
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_login_singup .heading {
  text-align: center;
}
.login_singup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
  padding: 2rem 1rem;
  border: 1px solid var(--body-color);
  border-radius: var(--border-radius);
  margin: 0 auto;
  background-color: var(--main-color);
}

.login_singup ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.login_singup ul a {
  padding: 0.6rem 1rem;
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
}

.uaer_status {
  text-align: center;
  padding: 0.4rem 0;
}

.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% auto;
  gap: 1rem;
}

.categories_menu {
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  padding-bottom: 1rem;
}

.categories_menu ul {
  padding: 0.2rem 1rem;
}

.categories_menu ul a {
  padding: 0.3rem 0.6rem;
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
}
.categories_menu ul a:hover {
  background-color: var(--body-color);
}

section {
  border-radius: var(--border-radius);
  width: 100%;
  background-color: var(--main-color);
}

.produts {
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  padding: 0.4rem 0.8rem;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(5, 14rem);
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  overflow: hidden;
}
.products {
  cursor: pointer;

  border: 1px solid var(--body-color);
  overflow: hidden;
  margin: 0.4rem;
  border-radius: 0.5rem;
  height: 15rem;
}
.products div {
  margin-bottom: 0.2rem;
}
.products .img {
  width: 100%;
  height: 10rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products img {
  max-width: 100%;
  max-height: 80%;
}
.pro_details {
  overflow: hidden;
  margin: 0.4rem;
}
.pro_heading {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
}
.pro_decs {
  font-size: 0.8rem;
  white-space: nowrap;
}

/* ---------slider ----detils-- */
.products_detils_60 {
  width: 100%;
  max-width: 60%;
}
.products_detail {
  width: 100%;
  display: flex;
}
#product_details_inside {
  justify-content: space-between;
}

.product_detail_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  border: 1px solid var(--body-color);
  border-radius: 0.2rem;
}

.product_detail_img img {
  max-width: 100%;
  max-height: 80%;
}

.products_detail .product_detail_btns {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
  padding: 1rem 0;
}
.products_detail .product_detail_btns button {
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.4rem 0;
  border: none;
  outline: none;
  border: 1px solid var(--body-color);
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.product_detail_dec {
  padding: 0.2rem;
  width: 60%;
  max-width: 100%;
  max-height: 80%;
  margin-left: 1rem;
}

.product_detail_rate {
  margin-top: 1rem;
}

.product_detail_rate span:nth-child(1) {
  font-size: 1.3rem;
  margin-right: 0.6rem;
  font-weight: 500;
}
.product_detail_rate span:nth-child(2) {
  font-size: 1.01rem;
  margin-right: 0.4rem;
  font-weight: 500;
}

.product_detail_decs {
  margin-top: 0.6rem;
}

.product_detail_desc_heading {
  font-weight: bold;
  padding: 0.4rem 0;
  border-bottom: 1px solid var(--body-color);
  margin-bottom: 0.4rem;
}
.product_detail_decs_p p {
  text-align: justify;
}

/* ---my cart---- */
.my_cart_60 {
  width: 40%;
}

.my_cart_item {
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
  height: 10rem;
  position: relative;
}

.my_cart_btns {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  z-index: 99;
}

.my_cart_btns a {
  margin: 0 0.4rem;
}
.my_cart_btns i {
  color: var(--text-color);
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  margin-top: 0.1rem;
}
.my_cart_btns input {
  width: 3rem;
  padding: 0.1rem 0;
  font-size: 0.8rem;
  outline: none;
  text-align: center;
  margin-top: -0.2rem;
}

.my_cart_uplerr_btn {
  background-color: transparent;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  width: 100%;
  height: 100%;
}

footer {
  border-radius: var(--border-radius);
  width: 100%;
  background-color: var(--main-color);
  padding: 1rem;
  margin: 1rem 0;
}

footer .logo {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer_grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

footer ul {
  text-align: right;
  padding: 0 1rem;
}

footer ul a {
  padding: 0.2rem 0;
  display: block;
  text-align: left;
  color: #000;
  transition: all 0.2s ease-in-out;
  text-transform: capitalize;
}
footer ul a:hover {
  padding-left: 0.4rem;
  color: var(--theme-back);
}

/* -----root---- */
.root_100 {
  width: 100%;
}
#root_tabs {
  overflow: hidden;
}
#root .drawer__header {
  height: 1rem;
  padding: 1rem 0rem;
  padding-left: 0.6rem;
  padding-right: 0.4rem;
}
#root .drawer__content {
  padding: 0rem;
}
#root .grid {
  display: grid;
  grid-template-columns: 40% auto;
  gap: 1rem;
}

#root .heading {
  padding: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.add_product_list {
  width: 100%;
  height: 100%;
}

.add_product_list {
  height: 80%;
  overflow-y: auto;
  padding: 0 1rem;
}

.add_product_item {
  position: relative;
  width: 100%;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 20% 80%;
  border-radius: var(--border-radius);
  padding: 0.4rem 0;
  height: 8rem;
  overflow: hidden;
  margin: 0.4rem 0;
  border: 1px solid var(--body-color);
}
.add_product_item .item_img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.add_product_item img {
  max-width: 100%;
  max-height: 80%;
}

.item_heading {
  font-size: 1.2rem;
  text-transform: capitalize;
  white-space: nowrap;
}
.item_desc {
  height: 4rem;
  overflow-y: auto;
  margin-right: 0.4rem;
}
.item_desc p {
  text-align: justify;
  padding-right: 0.4rem;
}
.item_action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.6rem;
}

.item_active {
  background-color: var(--main-color);
  position: absolute;
  top: 0.4rem;
  right: 0rem;
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
  color: var(--text-color);
  text-transform: capitalize;
}
.item_active div {
  display: flex;
  align-items: center;
}
.item_active label {
  cursor: pointer;
}
.item_active input {
  accent-color: var(--theme-back);
  font-size: 1.2rem;
  margin: 0 0.2rem;
}
.item_active a {
  margin-left: 0.4rem;
}
.item_active a:hover,
.item_active label:hover {
  color: var(--theme-back);
}
/* ------Responsive Web Design Media Queries------------- */
@media screen and (max-width: 700px) {
  /* ---root */
  .my_cart_60 {
    width: 100%;
  }
  .products_detils_60 {
    width: 100%;
    max-width: 100%;
  }
  body {
    padding: 0;
  }
  .wapper {
    width: 100%;
    margin: 0 auto;
  }
  .user_login_singup {
    display: flex;
    padding: 1rem;
  }
  .user_info {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }
  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .product_list {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .products_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
  }
  .product_detail_dec {
    padding: 0.2rem;
    width: 100%;
    margin-left: 0rem;
  }
  .footer_grid {
    display: flex;
    flex-direction: column;
  }
  footer ul {
    margin-top: 1rem;
    text-align: right;
    padding: 0 1rem;
  }
}
