@import "./root.css";

:root {
  --main-color: white;
  --body-color: rgb(238, 240, 242);
  --text-color: #000;
  --border-color: rgb(141, 232, 189);
  --border-sd: rgba(141, 232, 190, 0.522);
  --hover: rgb(223, 41, 240);
  --border-radius: 0.4rem;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto Flex", sans-serif;
  font-family: "Sarabun", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: var(--body-color);
  padding: 1rem;
}

/* ----root----- */
.heading {
  padding: 0.2rem 0.6rem;
}
.heading span:nth-child(1) {
  font-size: 1.4rem;
}

/* ------- */
.wapper {
  width: 80%;
  margin: 0 auto;
}

.nav_bar {
  width: 100%;
  height: 3rem;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: var(--border-radius);
}

.nav_bar .logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.nav_bar ul {
  display: flex;
  align-items: center;
}

.nav_bar ul a {
  padding: 0.6rem;
}

.nav_bar ul a i {
  font-size: 1.4rem;
}

/* -------hero----- */
.hero {
  width: 100%;
  height: 650px;
  transition: all 0.3s ease 0s;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: rgb(246, 249, 252);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  border-radius: var(--border-radius);
  background-image: url("https://bazar-furniture-shop.s3.ap-south-1.amazonaws.com/furniture-shop-header-1648992658016.jpg");
}

.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% auto;
  gap: 1rem;
}

.categories_menu {
  background-color: var(--main-color);
  border-radius: var(--border-radius);
}

.categories_menu ul {
  padding: 0.6rem 1rem;
}
.categories_menu ul a {
  padding: 0.3rem 0.6rem;
  background-color: var(--hover);
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0.2rem;
}

section {
  border-radius: var(--border-radius);
  width: 100%;
  background-color: var(--main-color);
}

.produts {
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  padding: 0.4rem 0.8rem;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(4, 14rem);
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
}
.products {
  cursor: pointer;
  /* width: 10rem; */
  border: 1px solid var(--border-color);
  overflow: hidden;
  margin: 0.4rem;
  border-radius: 0.5rem;
  height: 15rem;
}
.products div {
  margin-bottom: 0.2rem;
}
.products .img {
  width: 100%;
  height: 10rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products img {
  max-width: 100%;
  max-height: 80%;
}
.pro_details {
  overflow: hidden;
  margin: 0.4rem;
}
.pro_heading {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
}
.pro_decs {
  font-size: 0.8rem;
  white-space: nowrap;
}

/* ------footer------- */
footer {
  border-radius: var(--border-radius);
  width: 100%;
  background-color: var(--main-color);
  padding: 1rem;
  margin: 1rem 0;
}

footer .logo {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer_grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

footer ul {
  text-align: right;
  padding: 0 1rem;
}

footer ul a {
  padding: 0.2rem 0;
  display: block;
  text-align: left;
  color: #000;
  transition: all 0.2s ease-in-out;
}
footer ul a:hover {
  padding-left: 0.4rem;
  color: var(--hover);
}

/* ---------------------------------------------------------------------- */
/* ---------slider ----detils-- */
.products_detils_60 {
  width: 100%;
  max-width: 60%;
}
.products_detail {
  width: 100%;
  display: flex;
}

.product_detail_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
}

.product_detail_img img {
  max-width: 100%;
  max-height: 80%;
}

.products_detail .product_detail_btns {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
  padding: 1rem 0;
}
.products_detail .product_detail_btns button {
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.4rem 0;
  border: none;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.product_detail_dec {
  padding: 0.2rem;
  width: 60%;
  max-width: 100%;
  max-height: 80%;
  margin-left: 1rem;
}

.product_detail_rate {
  margin-top: 1rem;
}

.product_detail_rate span:nth-child(1) {
  font-size: 1.3rem;
  margin-right: 0.6rem;
  font-weight: 500;
}
.product_detail_rate span:nth-child(2) {
  font-size: 1.01rem;
  margin-right: 0.4rem;
  font-weight: 500;
}

.product_detail_decs {
  margin-top: 0.6rem;
}

.product_detail_desc_heading {
  font-weight: bold;
  padding: 0.4rem 0;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 0.4rem;
}
.product_detail_decs_p p {
  text-align: justify;
}

/* ---my cart---- */
.my_cart_60 {
  width: 40%;
}
.my_cart_item {
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
  height: 10rem;
  position: relative;
}

.my_cart_btns {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  z-index: 99;
}

.my_cart_btns a {
  margin: 0 0.4rem;
}
.my_cart_btns i {
  color: var(--text-color);
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  color: var(--hover);
  margin-top: 0.1rem;
}
.my_cart_btns input {
  width: 4rem;
  padding: 0.1rem 0;
  font-size: 1rem;
  outline: none;
  text-align: center;
}

.my_cart_uplerr_btn {
  background-color: transparent;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  width: 100%;
  height: 100%;
}
