<body style="padding: 25px">
  <form enctype="multipart/form-data">
    <input id="upload" type="file" name="files[]" />
  </form>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
  <script>
    var ExcelToJSON = function () {
      this.parseExcel = function (file) {
        var reader = new FileReader();

        reader.onload = function (e) {
          var data = e.target.result;
          var workbook = XLSX.read(data, {
            type: "binary",
          });
          workbook.SheetNames.forEach(function (sheetName) {
            // Here is your object
            var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
            var json_object = JSON.stringify(XL_row_object);
            productList = JSON.parse(json_object);

            var rows = $(".table tbody tr");
            console.log(productList);

            localStorage.setItem("soby", JSON.stringify(productList));
          });
        };
        reader.onerror = function (ex) {
          console.log(ex);
        };
        reader.readAsBinaryString(file);
      };
    };

    function handleFileSelect(evt) {
      var files = evt.target.files; // FileList object
      var xl2json = new ExcelToJSON();
      xl2json.parseExcel(files[0]);
    }

    document.getElementById("upload").addEventListener("change", handleFileSelect, false);
  </script>
</body>
