@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,700&display=swap');
* {
          padding: 0;
          box-sizing: border-box;
          margin: 0;
}

:root {
          --main-color: white;
          --body-color: whitesmoke;
          --text-color: #000;
          --border-color: rgb(0, 0, 0);
          --border-sd: rgba(141, 232, 190, 0.522);
          --footer-color: #1e1e1e;
          --font-family: 'Nunito', sans-serif;
          --btn-text: #fff;
          --btn-color: rgb(26, 194, 102);
}

body {
          font-family: var(--font-family);
          -webkit-font-smoothing: antialiased;
          font-weight: bold;
          background: var(--body-color);
}

.main_contanier {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
          margin-top: 2rem;
}

/* hub inpur css` */

.input_div {
          border-radius: 8px;
          box-shadow: 0px 0px 18px 0px #dfdede;
          width: 30%;
          height: 90vh;
          background: var(--main-color);
          display: flex;
          flex-direction: column;
          align-items: center;
}

.input_div .selecter {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 90%;
          border: 1px solid var(--border-color);
          padding: 1rem;
          margin-top: 1rem;
}

.input_div .selecter select {
          padding: 0.4rem;
          outline: none;
          font-family: var(--font-family);
          font-weight: bold;
}

.input_div input {
          width: 90%;
          font-family: var(--font-family);
          font-weight: bold;
          padding: 1rem;
          font-size: 1rem;
          margin-top: 1rem;
          border: 1px solid var(--border-color);
}

.input_div ul {
          width: 90%;
          margin-top: 2rem;
          border-top: 1px solid var(--border-color);
          border-left: 1px solid var(--border-color);
          border-right: 1px solid var(--border-color);
}

.input_div ul li {
          list-style: none;
}

.input_div ul li a {
          padding: 1rem;
          display: block;
          text-transform: uppercase;
          text-decoration: none;
          color: var(--text-color);
          border-bottom: 1px solid var(--border-color);
}

/* mail format css */

.format_div {
          width: 60%;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* justify-content: space-between; */
          background: var(--main-color);
          border-radius: 8px;
          box-shadow: 0px 0px 18px 0px #dfdede;
}

.format_div .mail_format {
          width: 100%;
          padding: 1rem;
}

.format_div .mail_format table {
          width: 100%;
          border-collapse: collapse;
}

.format_div .mail_format table thead {
          background: rgb(50, 228, 85);
          color: #fff;
}

.format_div .mail_format table thead th {
          padding: 0.4rem 0;
}

.format_div .mail_format table td {
          padding: 0.3rem 0;
          text-align: center;
}

/* edit gata pass */

.format_div .edit_gatepass {
          width: 95%;
          padding: 1rem;
          border: 1px solid #fff;
          margin: 1rem;
          border-radius: 8px;
          box-shadow: 0px 0px 18px 0px #e8e7e7;
}

.format_div .edit_gatepass table {
          width: 100%;
          border-collapse: collapse;
          text-transform: capitalize;
}

.format_div .edit_gatepass table tr:nth-child(even) {
          background-color: #f2f2f2af;
}

.format_div .edit_gatepass table tr {
          border: 1px solid rgb(197, 197, 197);
          margin: 1rem;
          text-align: center;
}

.format_div .edit_gatepass table tr td {
          border: 1px solid rgb(197, 197, 197);
}

.format_div .edit_gatepass table tr i {
          margin: 0.3rem 0.3rem;
}

.format_div .edit_gatepass table tr i.fa-pencil-alt {
          padding: 0.3rem;
          border-radius: 3px;
          color: rgb(136, 226, 128);
          background: rgba(166, 233, 160, 0.138);
          border: 1px solid transparent;
          transition: all .2s;
}

.format_div .edit_gatepass table tr i.fa-pencil-alt:hover {
          border: 1px solid rgb(136, 226, 128);
}

.format_div .edit_gatepass table tr i.fa-trash {
          padding: 0.3rem;
          border-radius: 3px;
          color: #ff3366;
          background: #f3dce24b;
          border: 1px solid transparent;
          transition: all .2s;
}

.format_div .edit_gatepass table tr i.fa-trash:hover {
          border: 1px solid #ff3366;
}

/* hide Div */

.add_hub_value {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.4);
}

.add_hub_value .main_content {
          background-color: #fefefe;
          margin: 5% auto;
          padding: 20px;
          border: 1px solid #fff;
          width: 80%;
          border-radius: 8px;
}

.add_hub_value .main_content .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
}

.add_hub_value .header .close {
          color: #aaa;
          font-size: 28px;
          font-weight: bold;
}

.add_hub_value .header .close:hover, .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
}

.hub_input_content {
          width: 100%;
          margin-top: 2rem;
}

.hub_input_content table {
          width: 100%;
          border-collapse: collapse;
          text-align: center;
          text-transform: capitalize;
}

.hub_input_content table th {
          padding: 0.3rem;
}

.hub_input_content table td {
          padding: 0.3rem;
}

.hub_input_content table td input {
          width: 100%;
          border: 1px solid transparent;
          outline: none;
          font-size: 1rem;
          font-family: var(--font-family);
          font-weight: bold;
          padding: 0.3rem;
          text-transform: capitalize;
}

.hub_input_content table td input:focus {
          border: 1px solid rgb(31, 218, 124);
}

.nub {
          text-transform: uppercase;
}

.add_hub_btn {
          width: 100%;
          text-align: right;
          padding-top: 2rem;
}

.add_hub_btn button {
          padding: .6rem 1rem;
          font-size: 1rem;
          font-weight: bold;
          margin: 1rem;
          color: var(--btn-text);
          background: var(--btn-color);
          border: none;
          margin-top: 1rem;
          border-radius: 8px;
          box-shadow: 0px 0px 18px 0px #e8e7e7;
}

.headng {
          width: 100%;
          text-align: center;
          margin-bottom: 1rem;
}

.copy_btn_div {
          width: 100%;
          text-align: right;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
}

.copy_btn {
          padding: 0.6rem 1rem;
          color: var(--btn-text);
          background: var(--btn-color);
          font-weight: bold;
          font-family: var(--font-family);
          text-transform: uppercase;
          border: none;
          border-radius: 5px;
          position: relative;
}

.copy_btn:hover {
          background: rgb(18, 169, 86);
}

.alert {
          position: absolute;
          top: 40px;
          left: 0;
          background: #000;
          color: #fff;
          padding: 0.4rem 0.6rem;
          text-transform: capitalize;
          border-radius: 6px;
          display: none;
}

.alert::before {
          content: ' ';
          border: 8px solid;
          position: absolute;
          top: -15px;
          left: 40%;
          border-color: transparent transparent #000 transparent;
}