.js-snackbar-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  padding: 10px;
  overflow: hidden;
}

.js-snackbar-container * {
  box-sizing: border-box;
}

.js-snackbar__wrapper {
  overflow: hidden;
  height: auto;
  margin: 5px 0;
  transition: all ease 0.5s;
  border-radius: 3px;
}

.js-snackbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0.6rem;
  color: rgb(0, 0, 0);
  font-size: 16px;
  background-color: #ffffff;
  vertical-align: bottom;
}

.js-snackbar__close,
.js-snackbar__status,
.js-snackbar__message {
  position: relative;
}

.js-snackbar__message {
  padding: 12px;
}

.js-snackbar__status {
  display: none;
  width: 15px;
  margin-right: 5px;
  border-radius: 3px 0 0 3px;
  background-color: transparent;
}

.js-snackbar__status.js-snackbar--success,
.js-snackbar__status.js-snackbar--warning,
.js-snackbar__status.js-snackbar--danger,
.js-snackbar__status.js-snackbar--info {
  display: block;
}

.js-snackbar__status.js-snackbar--success {
  background-color: #4caf50;
}

.js-snackbar__status.js-snackbar--warning {
  background-color: #ff9800;
}

.js-snackbar__status.js-snackbar--danger {
  background-color: #b90909;
}

.js-snackbar__status.js-snackbar--info {
  background-color: #2196f3;
}

.js-snackbar__close {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 10px;
  user-select: none;
}

.js-snackbar__close:hover {
  background-color: rgb(199, 199, 199);
}
