@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,700&display=swap');
* {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
}

:root {
          --main_color: #fff;
          --back_color: whitesmoke;
          --text_color: #000;
          --border_color: rgb(209, 206, 206);
          --btn_color: rgb(106, 235, 179);
          --btn_hover_color: rgb(19, 191, 139);
          --search_color: #fff;
          --next_text_color: #111;
}

body {
          background: var(--back_color);
          font-family: 'Nunito', sans-serif;
          -webkit-font-smoothing: antialiased;
}

a {
          text-decoration: none;
          font-weight: bold;
          font-size: 1.1rem;
          cursor: pointer;
}

/* nav bar css  */

.nav_bar {
          width: 100%;
          background: var(--main_color);
          height: 4rem;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.7rem;
          font-size: 0.9rem;
          text-transform: uppercase;
}

.nav_bar ul li {
          display: inline-block;
          list-style: none;
}

.main_bar {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
}

#pc_menu {
          display: block;
}

.pc_menu_toggle {
          transform: translate(0px, 0px);
}

#pc_menu li {
          display: inline-block;
          padding: 1rem 2rem;
}

.icons li {
          margin-left: 0.9rem;
}

.fa-shopping-cart {
          position: relative;
}

.num-cart-product {
          position: absolute;
          top: -17px;
          right: -17px;
          width: 25px;
          height: 25px;
          font-size: 0.8rem;
          border-radius: 50%;
          background-color: #0b9d8a;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 400;
}

.main_search_bar {
          width: 100%;
}

.search_bar {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
}

.search_bar input {
          padding: 0.3rem;
          border: none;
          outline: none;
          background: transparent;
          width: 80%;
          font-size: 1rem;
}

#search_bar_div {
          display: none;
}

/* profile div */

#login_btn {
          position: relative;
}

.user_profile_div {
          position: absolute;
          top: 4rem;
          right: 0;
          background: var(--main_color);
          padding: 1rem;
          transform: translate(0px, -440px);
          transition: all .3s;
          height: 12rem;
          text-align: left;
          z-index: 2;
}

.user_profile_toggle {
          transform: translate(0px, 0px);
}

.user_profile_div ul li {
          list-style: none;
          padding: 0.3rem;
}

/* form css start */

.login_signin {
          position: fixed;
          top: 10%;
          left: 2%;
          transform: translate(-400px, 0px);
          transition: all .3s;
          z-index: 999;
}

.login_signin_toggle {
          transform: translate(0px, 0px);
}

.login {
          width: 20rem;
          background: var(--main_color);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 2rem 0;
          text-align: center;
          border-radius: 6px;
}

.heading {
          margin-bottom: 1rem;
}

.login .rows input {
          padding: 0.4rem 0.3rem;
          border-bottom: 1px solid var(--border_color);
          margin: 0.3rem;
          font-size: 1rem;
          border-radius: 0.4rem;
          border: 1px solid var(--border_color);
}

.login .login_btn {
          width: 60%;
          margin: 0 auto;
          margin-top: 1rem;
}

.login .login_btn button {
          width: 100%;
          padding: 0.5rem 1rem;
          background: var(--btn_color);
          border: none;
          outline: none;
          border-radius: 3px;
          font-weight: bold;
          color: #fff;
}

#sign_div {
          display: none;
}

.move_toggle_text {
          margin-top: 1rem;
}

.move_toggle_text a {
          font-size: 0.8rem;
          color: var(--text_color);
          cursor: pointer;
}

.move_toggle_text span {
          color: var(--btn_color);
}

#mobile_toggle {
          display: none;
}

/* nav bar end */

/* card css */

.my_card {
          width: 80%;
          margin: 0 auto;
          height: 10rem;
          margin-top: 1rem;
}

/* null card shop new start*/

.card_null {
          width: 100%;
          background: var(--main_color);
          height: 40rem;
}

.card_null .heading {
          font-size: 1.4rem;
          font-weight: bold;
          padding: 0.6rem;
}

.card_null .null {
          width: 60%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
}

.card_null img {
          width: 40%;
}

.card_null .null p {
          margin-top: 1rem;
}

.card_null .null a {
          font-size: 1.5rem;
          padding: 0.7rem 3rem;
          margin: 2rem;
          border: none;
          outline: none;
          border-radius: 3px;
          background: var(--btn_color);
          color: var(--text_color);
}

/* null card shop end */

.card_products_div {
          margin: 0 auto;
          height: 20rem;
          display: flex;
          justify-content: space-evenly;
}

.card_product {
          width: 65%;
          height: 40rem;
}

.card_product_nab_bar {
          width: 100%;
          display: flex;
          justify-content: space-between;
          height: 4rem;
          overflow: hidden;
          padding: 1rem;
          border-bottom: 1px solid var(--border_color);
}

.card_product_nab_bar .heading {
          font-size: 1.3rem;
          font-weight: bold;
}

.card_product, .card_total {
          background: var(--main_color);
}

.deliver_div {
          display: flex;
          align-items: center;
}

.deliver_address_div {
          padding: 1rem 3rem;
          border: 1px solid;
}

.add_product {
          margin: 1rem 0;
          border-bottom: 1px solid var(--border_color);
}

.main_product {
          display: flex;
          justify-content: space-around;
}

.add_product .img {
          width: 20%;
}

.add_product .img img {
          width: 100%;
}

.product_about {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-content: space-around;
}

.product_about .desc .product_heading a {
          font-size: 1rem;
}

.product_about .desc .product_cort_desc {
          font-size: 0.8rem;
}

.product_about .product_rate {
          display: flex;
          align-items: center;
          padding: 1rem 0;
}

.product_about .product_rate .sale_rate {
          margin-right: 0.6rem;
          font-size: 1.1rem;
          font-weight: bold;
}

.product_about .product_rate .net_rate {
          margin-right: 0.6rem;
          font-size: 0.9rem;
          color: rgb(89, 88, 88);
          font-weight: bold;
}

.product_about .product_rate .off_rate {
          margin-right: 1rem;
          font-size: 0.9rem;
          color: green;
          font-weight: bold;
}

.delivery_about {
          text-align: left;
          width: 25%;
}

.delivery_about .Delivery_date {
          font-size: 0.9rem;
}

.delivery_about .Policy {
          font-size: 0.8rem;
}

.add_bar {
          display: flex;
          align-items: center;
}

.add_bar .cont {
          display: flex;
          padding: 1rem;
          margin: 0 1rem;
}

.add_bar .cont button {
          padding: 0.5rem;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: none;
          border: 1px solid var(--border_color);
}

.add_bar .cont .value {
          padding: 0.5rem 1rem;
          height: 30px;
          width: 60px;
          margin: 0 0.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: none;
          border: 1px solid var(--border_color);
}

.card_total {
          width: 30%;
          font-size: 1rem;
          height: 22rem;
}

.card_total .heading {
          padding: 1rem;
          border-bottom: 1px solid var(--border_color);
          text-transform: uppercase;
          font-weight: 600;
          color: var(--next_text_color);
}

.card_total_bill {
          padding: 1rem 2rem;
}

.price, .Charges, .total_rate {
          display: flex;
          justify-content: space-between;
          align-items: center;
}

.Charges, .total_rate {
          margin-top: 1.7rem;
}

.total_rate {
          padding: 1rem 0;
          font-size: 1.4rem;
          font-weight: 400;
          border-top: 1px dashed var(--border_color);
          border-bottom: 1px dashed var(--border_color);
}

.you_save {
          padding: 1rem 0;
          color: green;
}

/* <!-----------full-slider-----------------------------> */

.full-slider-box {
          width: 100%;
          height: 65vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
}

.f-slide-1 {
          background-image: url('../image/images/1600-Lumen-LED-Bulb.png');
}

.f-slide-2 {
          background-image: url('../image/images/Slider_01.jpeg');
}

.f-slide-3 {
          background-image: url('../image/images/Slider_02.jpg');
}

.slider-text-container {
          width: 80%;
          height: 90%;
          display: flex;
          align-items: center;
}

.f-slider-text {
          display: flex;
          flex-direction: column;
          margin-right: auto;
}

.f-slider-text strong {
          color: #333333;
          font-size: 3rem;
          line-height: 55px;
          margin-top: 10px;
          letter-spacing: 1px;
}

.f-slider-text span {
          text-transform: uppercase;
          letter-spacing: 6px;
          font-weight: 500;
          color: #666666;
          font-size: 1.2rem;
}

.f-slider-btn {
          width: 170px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          background-color: #0b9d8a;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-top: 14px;
}

.f-slider-text strong font {
          color: #0b9d8a;
}

.feature-heading {
          display: flex;
          justify-content: center;
          align-items: center;
}

.feature-heading h2 {
          font-size: 1.2rem;
          letter-spacing: 1px;
          color: #1b1919;
          text-transform: uppercase;
          font-weight: 600;
          margin-top: 40px;
          padding: 5px 30px;
          border: 1px solid #e0e0e0;
}

.feature-box {
          width: 155px;
          height: 160px;
          margin: 0px 20px;
          border-radius: 10px;
          overflow: hidden;
}

.feature-box a img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
}

.item span {
          font-size: 1rem;
          font-weight: 600;
          margin: 5px;
          color: #444444;
}

.item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
}

@media(max-width:414px) {
          .nav_bar {
                    height: 3rem;
          }
          /* #pc_menu {
                    display: none;
          } */
          #mobile_toggle {
                    display: block;
          }
          .logo {
                    display: none;
          }
          #pc_menu {
                    position: absolute;
                    top: 3rem;
                    left: 0px;
                    background: var(--main_color);
                    padding: 1rem;
                    height: 90vh;
                    transform: translate(-400px, 0px);
                    transition: all .3s;
          }
}