<div class="pro_menu">
  <div class="heading">
    <h4>Product List</h4>
  </div>
  <div class="pro_list" id="prosuct_list"></div>
</div>

<script>
  function Noteprinf() {
    document.getElementById("prosuct_list").innerHTML = "";
    var product = JSON.parse(localStorage.getItem("product"));
    for (let i = 0; i < product.length; i++) {
      var Note_list =
        `     <div class="products" onclick="show_detalis(` +
        product[i].id +
        `)">
    <div class="img">
      <img src="` +
        product[i].image +
        `" alt="" />
    </div>
    <div class="pro_details">
      <div class="pro_heading">` +
        product[i].name +
        `</div>
      <div class="pro_decs"><p>` +
        product[i].note +
        `</p></div>
      <div class="pro_rates">
      
        <span>Rs. ` +
        product[i].price +
        `</span>
        <span><s>Rs.1200</s></span>
        <!-- <span>60% OFF</span> -->
      </div>
    </div>
  </div>`;
      document.getElementById("prosuct_list").innerHTML += Note_list;
    }
  }
  Noteprinf();
</script>
