:root {
  /* main colors */
  --main-color: #fff;
  --body-color: rgb(231, 230, 230);

  /* theme colors */
  --theme-bg-color: #000000;
  --theme-tx-color: #ffffff;
  --text-color: #000;

  /* setting */
  --border-radius: 0.4rem;
}

body,
html {
  width: 100%;
  height: 100vh;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  font-family: Sarabun, sans-serif;
  background-color: var(--body-color);
  -webkit-font-smoothing: subpixel-antialiased;
}
body {
  padding: 1rem;
}

.container {
  width: 100%;
}

.form_input-block {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.form_input-block .input {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

.form_input-block .input input,
.form_input-block .input select,
.form_input-block .input button {
  display: block;
  height: 1.8rem;
  width: 12rem;
  padding: 0.2rem 0.4rem;
  border: none;
  border: 1px solid var(--body-color);
  outline: none;
  border-radius: var(--border-radius);
}
.form_input-block .action {
  display: flex;
  flex-direction: row;
}

.form_input-block .action button {
  width: 4rem;
  margin-right: 0.6rem;
  background-color: var(--theme-bg-color);
  color: var(--theme-tx-color);
}

.data_table {
  background-color: white;
  margin-top: 1rem;
  margin: 4px, 4px;
  padding: 0.4rem;
  /* border: 1px solid var(--theme-bg-color); */
  border-radius: var(--border-radius);
}

/* barcode css */
.barcode_preview {
  background-color: white;
  margin-top: 1rem;
  margin: 4px, 4px;
  padding: 0.4rem;
  /* border: 1px solid var(--theme-bg-color); */
  border-radius: var(--border-radius);
}

#barcode_preview {
  width: 100%;
  overflow-y: hidden;
  white-space: nowrap;
}

/* footer css block */
footer {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

footer svg {
  width: 3.5rem;
  font-size: 1rem;
  margin-right: 1rem;
}

/* notification */
#notification {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  /* padding: 0.7rem 1rem 1rem 1rem; */
  display: block;
  box-sizing: border-box;
  background-color: var(--theme-bg-color);
  color: var(--theme-tx-color);
  border-radius: var(--border-radius);
}
