@import './root.css';

* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #fff;
  --body-color: aliceblue;
  --border-radius: 0.2rem;
  --text-dark: rgb(0 0 0/0.7);
  --text-color: #000;
  --theme-back: rgb(14, 14, 14);
  --theme-color: #fff;
  --border-color: #c0c0c0;
}

body {
  /* font-family: Arial; */
  font-family: 'Nunito', sans-serif;
  color: #211a1a;
  font-size: 0.9em;
  background-color: var(--body-color);
  -webkit-font-smoothing: subpixel-antialiased;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* jqury css code */
.ui-state-active a {
  background-color: var(--theme-back);
  color: var(--theme-color);
  font-weight: 600;
}

.ui-accordion-header-active {
  background-color: var(--theme-back);
  color: var(--theme-color);
  font-weight: 600;
  border: none;
}

.container {
  width: 100%;
}

.auth {
  width: auto;
  margin: 1rem;
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--main-color);
}
.auth ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  /* background-color: var(--border-color); */
  border-radius: 0.4rem;
}
.auth ul a {
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}

.auth_logo {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.auth_logo img {
  width: 50%;
}
.auth_title {
  text-align: center;
  font-size: 1.5rem;
}

.login_section {
  margin-top: 0.8rem;
}

.login_section h3 {
  margin: 1rem 0;
}

.login_section .from {
  display: flex;
  flex-direction: column;
}

.login_section .from input {
  margin-bottom: 0.4rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  border: none;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.login_section .from button {
  margin-top: 0.6rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--theme-back);
  color: var(--theme-color);
}

.link {
  margin: 1rem 0;
}

.signup_section {
  margin-top: 0.8rem;
}

.signup_section h3 {
  margin: 1rem 0;
}

.signup_section .from {
  display: flex;
  flex-direction: column;
}

.signup_section .from input {
  margin-bottom: 0.4rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  border: none;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.signup_section .from button {
  margin-top: 0.6rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--theme-back);
  color: var(--theme-color);
}

.auth footer {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

/* ---------------------------------- */
.nav_bar {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  background-color: var(--main-color);
}

.main_container {
  width: 100%;
  height: calc(100vh - 6rem);
  padding: 0.4rem;
}

.botton_bar {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  background-color: var(--main-color);
}

.botton_bar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botton_bar ul a {
  padding: 0.6rem 1rem;
  /* border-radius: 1rem; */
  transition: all 0.2s ease-in-out;
}

#home p {
  margin-bottom: 0.6rem;
}

#devicelist .device_name {
  width: 100%;
  height: 1rem;
  border: 1px solid var(--border-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
  border-radius: var(--border-radius);
}

.device_relays {
  width: 100%;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.device_button {
  padding: 1rem;
  height: 100%;
  background-color: #c0c0c0;
}

#deviceList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#deviceList li {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.6em;
  border: 1px solid var(--border-color);
  overflow: hidden;
  /* padding: 1rem; */
  background-color: var(--main-color);
}

#deviceList h3 {
  display: flex;
  width: 100%;
  background-color: var(--theme-back);
  color: var(--theme-color);
  padding: 0.4rem 0.6rem;
  border-bottom: 1px solid var(--border-color);
}

#deviceList div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 0.1fr));
  padding: 0.4rem;
}

#deviceList div button {
  display: grid;
  height: 6rem;
  border: none;
  border: 1px solid var(--border-color);
  border-radius: 0.6rem;
  margin: 0.4rem;
}
#deviceList button {
  display: grid;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-top: 1px solid var(--border-color);
}

.addDeviec .from {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.addDeviec .from input {
  margin-bottom: 0.4rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  border: none;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.addDeviec .from button {
  margin-top: 0.6rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--theme-back);
  color: var(--theme-color);
}

#tabs-3 button {
  margin-top: 0.6rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--theme-back);
  color: var(--theme-color);
}
