@import "./reset.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ffffff;
  --body-color: #eff1f3;
  --text-color: #121212;
  --border-color: #1e63f9;
  --font-family: Roboto, sans-serif;

  --theme-bg-color: #000000;
  --theme-tx-color: #fff;

  --border-radius: 0.6rem;
  --gap: 0.8rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: whitesmoke;
  padding: 1rem;
}

/* root css */
input[type="number"] {
  width: 4rem;
}

.conatiner {
  width: 80%;
  /* height: 100vh; */
  margin: 0 auto;
}
/* barcode lable setting */
.barcode_lable_setting {
  display: none;
  width: 100%;
}

.input_form {
  display: flex;
  align-items: center;
}
.input {
  margin-right: 1rem;
}
.input_form input,
select,
button {
  padding: 0.2rem 0.6rem;
}
.input_form button {
  background-color: var(--theme-bg-color);
  color: var(--theme-tx-color);
}

.user_input {
  width: 100%;
  display: flex;
}
/* barcode lable perviwe */
.barcode_lable_perviwe {
  background-color: white;
  margin-top: 1rem;
  margin: 4px, 4px;
  padding: 0.4rem;
  border: 1px solid var(--theme-bg-color);
}

#barcode_lable_perviwe {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#barcode_lable_perviwe svg {
  display: inline-block;
}

/* footer */

footer {
  /* background: #1e1e1e; */
  border-radius: var(--border-radius);
  color: #9c9c9c;
  width: 90%;
  margin: o auto;
  position: fixed;
  left: auto;
  bottom: 1rem;
}

footer a {
  color: #000;
  font-weight: bold;
}
footer p {
  margin-top: 0.2rem;
}

.ads {
  margin-top: 2rem;
}
/* print css */
@media print {
  .ads {
    display: none;
  }
  .main_user_block {
    display: none;
  }

  #barcode_lable_perviwe {
    overflow-x: auto;
    overflow-y: auto;
    white-space: normal;
  }
  @page {
    /* size: 30mm 20mm; */
    margin: 0;
    padding: 0;
  }
  .barcode_lable_perviwe {
    border: none;
  }
  footer {
    display: none;
  }
  svg {
    width: 100%;
    height: 80vh;
    max-width: 100%;
    max-height: 100%;
    /* padding: 0 4rem; */
  }
  ins {
    display: none;
  }
  iframe{
  display: none;
  }
}
