:root {
  /* main colors */
  --main-color: #fff;
  --body-color: rgb(231, 230, 230);

  /* theme colors */
  --theme-bg-color: #c9e6bf;
  --theme-tx-color: #ffffff;
  --text-color: #000;

  /* setting */
  --border-radius: 0.4rem;
}

body,
html {
  width: 100%;
  height: 100vh;
  font-size: 14px;
  font-weight: 400;
  font-family: Sarabun, sans-serif;
  background-color: var(--body-color);
  -webkit-font-smoothing: subpixel-antialiased;
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem auto 5rem;
}

.nav_bar {
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav_bar .logo {
  font-size: 1.5rem;
}

.menu_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_list li {
  margin-left: 1rem;
}

.QR_container {
  width: 60%;
  margin: 1rem auto;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}
.QR_container section {
  width: 40%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.preview {
  padding: 1.5rem;
  background-color: orange;
  border-radius: var(--border-radius);
}
.input_preview {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
}
.input_value {
  width: 60%;
}
.input_value input {
  font-family: Sarabun, sans-serif;
  padding: 0.2rem 0.4rem;
  width: 100%;
  background-color: var(--main-color);
}
footer {
  width: 100%;
  background-color: var(--main-color);
}
