.form_input {
  display: none;
}

.data_table {
  display: none;
}
footer {
  display: none;
}
svg {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
}
