* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #ffffff;
  --body-bg: whitesmoke;
  --text: #000;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --gap: 1rem;
  --border-radius: 0.4rem;
  /* theme colors    */
  --theme-bg: #000000;
  --theme-tx: #ffffff;
}

button {
  background-color: var(--theme-bg);
  color: var(--theme-tx);
}

body {
  background-color: var(--body-bg);
  color: var(--text);
  font-family: var(--font-family);
  font-size: 16px;
  padding: 1rem;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #9d9d9d4b;
  cursor: pointer;
  border-radius: 4rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-bg);
  cursor: pointer;
  border-radius: 4rem;
  width: 8px;
}

::selection {
  background-color: var(--theme-bg-color);
  color: var(--theme-tx-color);
}

.container {
  width: 100%;
  height: 100%;
}

.form_input {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.form_input .input {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}
.form_input .input label {
  color: var(--text);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.form_input .input input,
.form_input .input select,
.form_input .input button {
  display: block;
  height: 1.8rem;
  width: 12rem;
  padding: 0.2rem 0.4rem;
  border: none;
  border: 1px solid var(--body-bg);
  outline: none;
  border-radius: var(--border-radius);
}

.form_input .action {
  display: flex;
  flex-direction: row;
}

.form_input .action button {
  width: 4rem;
  margin-right: 0.6rem;
}

.barcode_preview {
  background-color: white;
  margin-top: 1rem;
  margin: 4px, 4px;
  padding: 0.4rem;
  border: 1px solid var(--theme-bg-color);
  border-radius: var(--border-radius);
}

#barcode_preview {
  width: 100%;
  overflow-y: hidden;
  white-space: nowrap;
}

.data_table {
  background-color: white;
  margin-top: 1rem;
  margin: 4px, 4px;
  padding: 0.4rem;
  border: 1px solid var(--theme-bg-color);
  border-radius: var(--border-radius);
}

/* footer */
footer {
  border-radius: var(--border-radius);
  color: #9c9c9c;
  width: 90%;
  height: 3rem;
  margin: o auto;
  position: fixed;
  left: auto;
  bottom: 1rem;
  display: flex;
  align-items: center;
  font-size:12px;
}
footer div.a {
  display: flex;
}
footer svg {
  width: 2.5rem;
  height: 100%;
  margin-right: 1rem;
}
footer div {
  padding-top: 0.1rem;
}
footer a {
  color: #000;
  font-weight: bold;
}
footer p {
  margin-top: 0.2rem;
}
