.download-btn-cn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99999
}

.download-btn-cn a {
    color: #fff;
    padding: 14px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    background: #5288f3;
    border: 1px solid #fff;
    font-family: poppins, sans-serif
}

@media screen and (max-width:600px) {
    .download-btn-cn {
        right: 15px;
        bottom: 25px
    }
    .download-btn-cn a {
        font-size: 13px;
        padding: 9px 15px
    }
}

.google-auto-placed {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    z-index: -9999;
    position: absolute;
    left: -200px
}

.sticky-bottom-ad {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 100px;
    height: 100%;
    z-index: 21474;
    transition: bottom .25s ease
}

.sticky-bottom-ad.show {
    bottom: 10px
}

.sticky-bottom-ad .ad-body {
    padding: 3px;
    display: flex;
    background: #fff;
    position: relative
}

.sticky-bottom-ad .close-btn {
    position: absolute;
    right: -25px;
    top: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #fff
}

.sticky-bottom-ad svg {
    width: 17px
}

.cn-vignette-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2147484000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .1s linear
}

.cn-vignette-popup.show {
    opacity: 1 !important;
    pointer-events: auto
}

.cn-vignette-popup .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(52, 58, 65, .6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px)
}

.cn-vignette-popup .popup-content {
    background: #fff;
    max-width: 728px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 8px 12px rgba(60, 64, 67, .15), 0 4px 4px rgba(60, 64, 67, .3)
}

.cn-vignette-popup .popup-header {
    display: flex;
    align-items: center;
    padding: 5px 10px 10px;
    justify-content: space-between
}

.cn-vignette-popup .popup-title {
    font-size: 13px;
    font-weight: 500;
    font-family: poppins !important
}

.cn-vignette-popup .close-btn {
    width: 21px;
    cursor: pointer
}

.cn-vignette-popup .popup-body {
    padding: 7px 20px
}