.print {
  display: none;
}
.body-section {
  width: 100%;
  height: 100%;
  display: block;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: none;
}
.barcode-perviwe {
  width: 100%;
  border: none;
  padding: 0.6rem;
}

#barcode {
  display: block;
}

#barcode_1 {
  display: block;
}
.barcodeSvg {
  background-color: transparent;
}
.svgprintBTN {
  display: none;
}
@page {
  size: 40cm 28cm;
}

body {
  zoom: 100%;
  transform: scale(1);
}

svg {
  display: block;
  width: 100%;
  height: 60rem;
}
